// Colors
$primaryColor: rgb(128, 103, 255);
$secondaryColor: white;
$backgroundColor: #00001a;
$h1_barColor: rgba(255,255,255,.75);

$linear_gradient: linear-gradient(to right, #da22ff, #9733ee);

// Font
$fontFamily: 'Roboto', sans-serif;
$nav_FontFamily: 'Roboto',sans-serif;

$normalText: 10px;
$p_text: 1.8rem;
$h1_text: 3.5rem;
$nav_text: 2rem;
$hidden_nav_text: 5rem;

$h1_font_weight: 300;

// Margin
$sectionMargin: 15rem;
$h1_margin: 0 0 1rem 0;

// Border
$border_width: 1px;
$border_radius: 5px;

// Skill Icon
$icon_height: 50px;
$icon_width: 50px;
$icon_border_radius: 10px;

// Media Screen max-width: 600px
$section_600: 5rem;
$nav_font_600: 3.5rem;
$landingPageh1_600: 6rem;